/*
* LittleLink Button Styles
* https://littlelink.io
* Free to use under the MIT license
* http://www.opensource.org/licenses/mit-license.php
*/

/* Brand Button Base Styles */
.button, button {
	color: var(--button-text, #000000);
	background-color: var(--button-background, transparent);
	border: var(--button-border, none);
	transition: filter 0.2s ease, transform 0.2s ease;
  }
  
  /* Global Button Hover Effect */
  .button:hover, button:hover {
	filter: brightness(90%);
	transform: translateY(-1px);
  }
  
  /* Button Icons */
  .icon {
	filter: var(--icon-filter, none);
  }
  
  /* Twitter */
  .button-x {
	--button-text: #FFFFFF;
	--button-background: #000000;
	--button-border: 1px solid #FFFFFF;
  }
  
  /* Telegram */
  .button-telegram {
	--button-text: #ffffff;
	--button-background: #3faee8;
  }
  
  /* MemeJob.Fun */
  .button-memejobfun {
	--button-text: #ffffff;
	--button-background: #FF9800;
	--button-border: 1px solid #ffffff;
  }